@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import 'material-colors/dist/colors.scss';

$family-sans-serif: 'Nunito', sans-serif;
$primary: $md-green-a400;
$primary-invert: $md-white;

$light: $md-grey-50;
$light-invert: $md-black;
$info: $md-grey-100;
$info-invert: $md-black;
$link: $md-green-600;
$success: $md-green-400;
$danger: $md-red-400;

$navbar-height: 3.5rem;
$navbar-item-img-max-height: 40px;

.navbar-brand > a > img {
  width: auto;
  height: $navbar-item-img-max-height;
}

.center-img {
  margin-left: auto;
  margin-right: auto;
}

.center-column {
  text-align: center !important;
}

@import 'bulma/bulma.sass';

@media (min-width: $desktop) {
  .reverse-columns {
    flex-direction: row-reverse;
    display: flex;
  }
}

@media (min-width: $fullhd) {
  .hero-image {
    background: url('../assets/images/background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
